<h1>Hello, <%=@user.username%>!</h1>

<h2>Welcome to your <%=@game.name%> Page. Your characters are below: </h2>

<%if !@game.characters.empty?%>
<ol>
  <%@game.characters.each do |char| %>
  <li><%=char.name%> - <a href="/games/<%=char.game_id%>/characters/<%=char.id%>/edit">Edit</a></l>
      <%char.abilities.each do |ability|%>
      <ul>
      <li><%=ability.name%></li>
      </ul>
      <%end%>

  <%end%>
</ol>
<%else%>
<p>Hmm, you don't seem to have any characters yet.</p>
<%end%>

<a href="/games/<%=@game.id%>/characters/new">Create New Character</a><br>
<a href="/users/<%=@user.id%>">Home Page</a><br>
<a href="/users/logout">Logout</a>
