<h1>Hello, <%=@user.username%>!</h1>

<h2>Your Characters:</h2>

<ol>
  <%@user.characters.each do |char| %>
  <li><%=char.name%> - <a href="/characters/edit/<%=char.id%>">Edit</a></l>
      <%char.abilities.each do |ability|%>
      <ul>
      <li><%=ability.name%></li>
      </ul>
      <%end%>

  <%end%>
</ol>

<a href="/characters/new">Create New Character</a><br>
<a href="/users/<%=@user.id%>">Home Page</a><br>
<a href="/users/logout">Logout</a>
